.hide {
	display: none;
}
.show {
  position: fixed;
  display: block;
  top: 50%;
  left: 52%;
  background-color: #337ab7;
  color: white;
  width: 300px;
  height: 200px;
  border: 1px solid black;
}
button {
  color: black;
}
input {
  width: 250px;
}