.hide {
	display: none;
}
.show {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #337ab7;
  color: white;
  width: 300px;
  height: 254px;
  border: 1px solid black;
  border-radius: 25px;
}
button {
  color: black;
}
input {
  width: 250px;
  color: black;
}
