body {
  background-color: #eee;
}
.current {
	background-color: none;
	color: black;
}
span {
	cursor: pointer;
	text-decoration: underline;
}
span:hover {
	color: white;
	background-color: black;
}
.login-error {
	border: 1px solid red;
	text-align: center;
	margin: 0 auto;
	width: 40vw;
	background-color: pink;
}

.form-horizontal .control-label {
  text-align: center;
}
.form-control {
  width: auto;
  margin: 0 auto;

}
